@import '../../../global/library';

$BUTTON-STAT-HEIGHT: 40px;
$BUTTON-STAT-CONTEINER-HEIGHT: 50px;

.statistic-content {
  min-width: 460px;
}

.statistic__list {
  overflow: scroll;
  max-height: 45vh;
  min-width: 300px;
  padding: 20px;
  background-color: rgba($color: #f6c7ac, $alpha: 0.1);
  @media (max-width:750px) {
    padding: 0;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $MAIN-COLOR--PRIMARY-LIGHT;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $MAIN-COLOR--SECONDARY;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
}
.statistic__row {
  display: flex;
  width: 40vw;
  min-width: 340px;
  align-items: center;
  .statistic__audio {
    max-width: 45px;
  }
  .statistic__word {
    min-width: 50px;
  }
}
.statistic__buttons-cont {
  width: 100%;
  border-radius: 5px;
  height: $BUTTON-STAT-CONTEINER-HEIGHT;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  a, button {
    color: $MAIN-COLOR--PRIMARY-LIGHT;
    @include font(16px, OpenSans, 600);
    text-decoration: none;
    width: 40%;
    background-color: $MAIN-COLOR--SECONDARY;
    border-radius: 5px;
    height: $BUTTON-STAT-HEIGHT;
    box-sizing: border-box;
    @include flex(center);
    @media (max-width:400px) {
      font-size: 3.5vw;
    }
    &:hover {
      background-color: $MAIN-COLOR--PRIMARY-DARK;
      box-shadow: inset 1px 1px 10px #f3faf7;
      cursor: pointer;
    }
  }
}
