@import '../../../global/library';

.statistic-content {
  min-width: 460px;
}

.statistic__list {
  overflow: scroll;
  max-height: 48vh;
  min-width: 300px;
  &::-webkit-scrollbar {
    width: 5px; 
    background-color: $MAIN-COLOR--PRIMARY-LIGHT;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $MAIN-COLOR--SECONDARY;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
}
.statistic__row {
  display: flex;
  width: 40vw;
  min-width: 340px;
  align-items: center;
  margin-left: 15px;
  .statistic__audio {
    max-width: 45px;
  }
  .statistic__word {
    min-width: 50px;
  }
}
