@import '../../../global/library';

.statistic__list {
  overflow-y: scroll;
  max-height: 48vh;
  &::-webkit-scrollbar {
    width: 5px; 
    background-color: $MAIN-COLOR--PRIMARY-LIGHT;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $MAIN-COLOR--SECONDARY;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
}
