$MAIN-COLOR--PRIMARY: rgb(180,177,170);
$MAIN-COLOR--PRIMARY-DARK: rgb(65, 64, 63);
$MAIN-COLOR--PRIMARY-LIGHT: rgb(249, 249, 249);
$MAIN-COLOR--SECONDARY: rgb(205, 124, 67);

$BODY-CONTAINER-WIDTH: 1300px;

$HEADER-LOGO-CONTAINER--HEIGHT: 140px;
$HEADER--HEIGHT: 67px;

@mixin flex ($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}
@mixin font ($size, $font, $weight: normal) {
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
}
