@import '../../global/library';

.audioCall-container {
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(198, 198, 81) 50%, rgb(207, 81, 53) 50%);
    border-radius: 50%;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
}

button.audio-call-button {
  background-color: rgb(196, 181, 181);
  margin: 10px 10px;
  min-width: 50px;
  &:hover {
    background-color: rgb(174, 155, 155);
    -moz-box-shadow:0 0 25px rgb(199, 190, 72); 
    -webkit-box-shadow:0 0 25px rgb(199, 190, 72); 
    box-shadow:0 0 25px rgb(199, 190, 72);
    color: $MAIN-COLOR--PRIMARY-DARK;
  }
}
.audio-call-button.active {
  -moz-box-shadow:0 0 25px rgb(199, 190, 72); 
  -webkit-box-shadow:0 0 25px rgb(199, 190, 72); 
  box-shadow:0 0 25px rgb(199, 190, 72);
}
.audio-call-button.correct {
  -moz-box-shadow:0 0 25px rgb(142, 152, 194); 
  -webkit-box-shadow:0 0 25px rgb(142, 152, 194); 
  box-shadow:0 0 25px rgb(142, 152, 194);
}

.audio-call-button.incorrect {
  -moz-box-shadow:0 0 25px rgb(229, 123, 90); 
  -webkit-box-shadow:0 0 25px rgb(229, 123, 90); ; 
  box-shadow:0 0 25px  rgb(229, 123, 90);
}

div.audio-call__content{
  min-height: 70vh;
  max-height: 75vh;
  max-width: 85vw;
  margin-top: 40px;
  .audio-call-card{
    min-width: 95%;
    height: 56vh;
    margin: auto auto;
    @media (max-width:650px) {
      height: auto;
    }
  }
  .game-card__actions--group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.audio-call__card-content {
  @include flex(space-evenly);
}
div .MuiCardMedia-media {
  width: 20vw;
  border-radius: 10px;
  height: 15vw;
}
.audio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 123, 90);
  margin: 0 auto;
  border-radius: 100%;
  width: 11vw;
  height: 11vw;
  .css-i4bv87-MuiSvgIcon-root { 
    width: 10vw;
    height: 10vw;
    color: $MAIN-COLOR--PRIMARY-DARK;
  }
  &:hover {
    background-color: rgb(200, 118, 155);
    -moz-box-shadow:0 0 25px rgb(229, 123, 90); 
    -webkit-box-shadow:0 0 25px rgb(229, 123, 90); ; 
    box-shadow:0 0 25px  rgb(229, 123, 90);
  }
}
