@import '../../../global/library';

.pagination__container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination__header {
  align-self: center;

}

.pagination .css-1j4k3n5-MuiButtonBase-root-MuiPaginationItem-root {
  @media (max-width:590px) {
    min-width: 25px;
    height: 25px;
    width: 25px;
  }
}
