@import '../../global/library';

.header {
  background-color: $MAIN-COLOR--PRIMARY-DARK;
  width:100%;
  display: none;
}
.header__container {
  @include flex(space-between);
  max-width:$BODY-CONTAINER-WIDTH;
  width: 90vw;
  margin: 0 auto;
  height: $HEADER--HEIGHT;
  background-color: $MAIN-COLOR--PRIMARY-DARK;
  position: fixed;
  top: 0;
  left: auto;
  z-index: 2;
}
.logo__container {
  width: 20%;
  background-color: $MAIN-COLOR--SECONDARY;
  height: $HEADER-LOGO-CONTAINER--HEIGHT;
  @include flex(center);
  .logo__title {
    font-family: Teko;
    color: $MAIN-COLOR--PRIMARY-LIGHT;
    letter-spacing: 5px;
    padding-top: 10%;
    text-decoration: none;
    font-size: 3.5em;
  }
}
