@import '../../global/library';

.navbar {
  width: 70%;
}
.navbar__list {
  display: flex;
  list-style-type: none;
  justify-content: right;
  .navbar__item {
    margin-left: 37px;
    a {
    color: $MAIN-COLOR--PRIMARY-LIGHT;
    font-family: OpenSans;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2.8px;
    &:hover {
      font-weight: 800;
    }
    }
  }
}
button.navbar__item a,
.css-1uwgr7b-MuiTypography-root a,
.css-1w9osf6-MuiButtonBase-root-MuiButton-root a {
  color: $MAIN-COLOR--PRIMARY-LIGHT;
  font-family: OpenSans;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 2.8px;
  &:hover {
    font-weight: 800;
  }
}
.navbar__item a,
.css-1uwgr7b-MuiTypography-root a {
  color: $MAIN-COLOR--PRIMARY-DARK;
}

@media only screen and (max-width: 1000px) {
  .css-1w9osf6-MuiButtonBase-root-MuiButton-root a {
    font-size: 1.4vw;
  }
}

.navbar__item a.disabled-link{
  pointer-events: none;
  color: lightgrey;
}
