@import '../../global/library';

$CARD-CONTENT-PADDING: 10px 20px;
$CARD-MARGINE: 20px;

.card {
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 82vw;
  margin: $CARD-MARGINE auto;
}
.card-word__container {
  display: flex;
}

.card-word-tutorial__container {
  display: flex;
}
.card-word-tutorial__container .card-word-tutorial__img {
  height: auto;
  width: 40%;
  background-color: #fff;
  @media (max-width: 650px) {
    display: none;
  }
}
.MuiCardActionArea-root {
  display: flex;
  flex-direction: row;
}
.card__title {
  @include flex(left);
  width: 50%;
}
.card__header {
  width: 100%;
  @include flex(space-between);
  padding: 10px;
  box-sizing: border-box;
}
.card__content {
  width: 60%;
  background-color: #fff;
}
.card__text {
  padding: $CARD-CONTENT-PADDING;
  background-color: #fff;
}
.card__transcription, .card__translate {
  padding-top: 0;
  padding-left: 10px;
}
.card__authorized-section {
  border-top: 1px solid beige;
  @include flex(space-between);
  padding: $CARD-CONTENT-PADDING;
}
.card__buttons-container {
  width: 45%;
  @include flex(space-evenly);
  height: 50px;
}
.MuiPaper-root {
  background-color: $MAIN-COLOR--PRIMARY-DARK;
}
.MuiPaper-elevation4 {
  box-shadow: none;
}
.card-word__img {
  height: auto;
  width: 40%;
}
.group0 {
  background-color: $GROUP_0_COLOR;
}
.group1 {
  background-color: $GROUP_1_COLOR;
}
.group2 {
  background-color: $GROUP_2_COLOR;
}
.group3 {
  background-color: $GROUP_3_COLOR;
}
.group4 {
  background-color: $GROUP_4_COLOR;
}
.group5 {
  background-color: $GROUP_5_COLOR;
}
.group6 {
  background-color: $GROUP_6_COLOR;
}
/******************************************************/
/*****************************media********************/
@media only screen and (min-width: 700px) and (max-width: 850px) {
  .card__title {
    display: block;
  }
  .card__transcription {
    padding-left: 0;
  }
}
@media only screen and (max-width: 699px) {
  .card {
    width: 80%;
    margin: 20px auto;
  }
  .card__title {
    display: block;
  }
  .card__transcription {
    padding-left: 0;
  }
  .card-word__container {
    display: block;
  }
  .card-word__img {
    height: auto;
    width: 100%;
  }
  .card__content {
    width: 100%;
  }
  .MuiCardContent-root {
    padding: 16px 10px;
  }
  .card__buttons-container {
    width: 80%;
  }
}
