@import '../../global/library';

$CARD-CONTENT-PADDING: 10px 20px;

.card {
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  border-radius: 10px;
  background-color: $MAIN-COLOR--PRIMARY;
  overflow: hidden;
}
.card-word__container {
  display: flex;
}
.MuiCardActionArea-root {
  display: flex;
  flex-direction: row;
}
.card__title {
  @include flex(left);
  width: 50%;
}
.card__header {
  width: 100%;
  @include flex(space-between);
  padding: 10px;
  box-sizing: border-box;
}
.card__content {
  width: 60%;
}
.card__text {
  padding: $CARD-CONTENT-PADDING;
}
.card__transcription, .card__translate {
  padding-top: 0;
  padding-left: 10px;
}
.card__authorized-section {
  background-color: $MAIN-COLOR--PRIMARY-LIGHT;
  height: 20%;
  border-top: 1px solid beige;
  @include flex(space-between);
  padding: $CARD-CONTENT-PADDING;
}
.card__buttons-container {
  width: 45%;
  @include flex(space-between);
  height: 50px;
}
