@import '../../../global/library';

.game-card__actions button {
  margin: 10px;
  min-width: 45%;
    &:hover{
      -moz-box-shadow:0 0 25px rgb(218, 207, 62); 
      -webkit-box-shadow:0 0 25px rgb(199, 190, 72); 
      box-shadow:0 0 25px rgb(199, 190, 72);
    }
}
.game-card__actions .game-card__actions--correct{
  background-color: #6c3;
  border: 1px solid green;
  color: white;
  min-width: 100px;
  &:hover{
    background-color: #6c3;
  }
}

.game-card__actions .game-card__actions--incorrect{
  background-color: rgb(212, 80, 36);
  border: 1px solid rgb(128, 41, 0);
  color: white;
  min-width: 100px;
  &:hover{
    background-color: rgb(212, 80, 36);
  }
}

.game-card__actions--group{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.game-card__actions .game-card__actions--group .active{
//   background-color: white;
//   color: black;
  -moz-box-shadow:0 0 25px rgb(218, 207, 62); 
  -webkit-box-shadow:0 0 25px rgb(199, 190, 72); 
  box-shadow:0 0 25px rgb(199, 190, 72);
}
