.sprint-game-timer, .sprint-game-timer__label {
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
}
